<template>
  <div>
    <v-row>
      <v-col sm="6">
        <v-card>
          <v-date-picker v-model="fecha" full-width locale="es-ve" :min="min" :max="max" @change="getDolar(fecha)"></v-date-picker>
        </v-card>
        <v-card color="error" dark>
          <v-card-text class="display-1 text-sm-center">
            {{valor}}
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from "axios";
import { mapMutations } from 'vuex';

export default {
  name: 'Home',
  data() {
    return {
      fecha: new Date().toISOString().substr(0, 10),
      min: '1984',
      max:  new Date().toISOString().substr(0, 10),
      valor: null
    }
  },
  created() {
    this.getDolar(this.fecha)
  },
  methods:{
    async getDolar(dia) {
      this.mostrarLoading({
        titulo: 'Accediendo a informacion',
        color: 'secondary'
      })

      let arrayFecha = dia.split(['-'])
      let dmy = arrayFecha[2] + '-' + arrayFecha[1] + '-' + arrayFecha[0]

      try {
        let datos = await axios.get(`https://mindicador.cl/api/dolar/${dmy}`)

        if (datos.data.serie.length > 0) {
          this.valor = await datos.data.serie[0].valor
        }
        else {
          this.valor = 'Sin resultados'
        }
      }
      catch (e) {
        console.log(e);
      }
      finally {
        this.ocultarLoading()
      }
    },
    ...mapMutations(['mostrarLoading', 'ocultarLoading'])
  },
}
</script>
